.wrapper-order-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid orange;
}

.picture-order {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.title-order {
    max-width: 250px;
    white-space: wrap;
    text-align: justify;
    font-size: 1.6rem;
}

.amount {
    font-size: 1.6rem;
}

.status-order {
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-size: 1.6rem;
}

@media only screen and (max-width:750px) {
    .wrapper-order-item {
        flex-direction: column;
        gap: 15px;
    }
}

@media only screen and (min-width:750px) and (max-width: 1050px) {
    .title-order {
        max-width: 180px;
        white-space: wrap;
        text-align: justify;
        font-size: 1.4rem;
    }
    .amount {
        font-size: 1.4rem;
    }
    .status-order {
        font-size: 1.4rem;
    }
}