.wrapper {
    width: 120px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(203, 76, 30);
    cursor: pointer;
    background-color: white;
}

.content {
    font-size: 2rem;
    color: gray;
    font-weight: 500;
}

.medium {
    width: 180px;
    height: 60px;
    border: none;
}

.medium > .content {
    font-weight: bold;
}


/*custom button*/
.rectangle {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background-color: #fd5c24;
}

.rectangle .content {
    font-size: 1.6rem;
    color: white;
}

/* track button*/
.track {
    width: 160px;
    height: 45px;
    border-radius: 0;
    background-color: #fee9e3;
    border:none;
}

.track .content {
     color: #333;
     font-size: 1.5rem;
}