.wrapper-product {
    width: calc(100% - 350px);
    margin-left: 350px;
    padding-top: 150px;
    padding-left: 40px;
    padding-right: 40px;
    height: auto;
}

.table-product {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    margin-top: 20px;
}

.row-head {
    height: 50px;
    width: 100%;
    border: 1px solid #d9d9d9;
}

.row-head > th {
    font-size: 1.6rem;
}

.row-head > th:first-child {
    padding-left: 15px;
}